{% extends  "reg-base.html" %}

{% block body_block %}

        
        
        <form class="form-signin" role="form" method="post" action=".">
        <h2>Please Sign In</h2>
                {% csrf_token %}
                <label class="sr-only" for="id_username">Username:</label> 
                <input class="form-control" id="id_username" maxlength="254" name="username" type="text" placeholder="Username"/>
				<label class="sr-only" for="id_password">Password:</label> 
				<input class="form-control" id="id_password" name="password" type="password" placeholder="Password"/>

                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in" />
                <input type="hidden" class="form-control" name="next" value="{{ next }}" />

                <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
        </form>
        {% if form.errors %}
                <p align="center"><font color="red" >Your username and Password didn't match...</font></p>
        {% endif %}
        
{% endblock %}
