<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Muse</title> 

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
		
		<!--Sortable  -->
		
		<script src="{% static 'bootstrap/js/sortable.min.js' %}"> </script>
		<link rel="stylesheet" href= "{% static 'bootstrap/css/sortable-theme-bootstrap.css' %}" >
		
		<!-- audio.js -->
    <script src="{% static 'audiojs/audio.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
     $(function() {
				 var queue = [];	
				 var index = 0;
				 var $table = $(myTable);
         {% block indexTable %}
         
         {% endblock %}
			 //Goes through the table, and then pushes the url into table

			 for(var i = 1; i < document.getElementById("myTable").rows.length; i++)
			 {
					var $row = $table.find("tr:nth-child(" +  i +  ")");
				 	var $target_td = $row.find("td:nth-child(1) a");
					queue.push($target_td.attr('data-src'));
					//alert($target_td.attr('data-src'));
			 }
				//alert(queue[0]);
				       // Setup the player to autoplay the next track
       var a = audiojs.createAll({
         trackEnded: function() { 
					index++;
					if(index < queue.length)
					{
						audio.load(queue[index]);
						audio.play();
					}
         }
       });
       
       // Load in the first track
       var audio = a[0];
 			 audio.load(queue[index]);

       // Load in a track on click

       $('.song').click(function(e) {
				
				 //Rebuild the queue. So it will adjust to the table that the user is currertly
				 //looking at.
				 queue = [];
				 for(var i = 1; i < document.getElementById("myTable").rows.length; i++)
				 {
						var $row = $table.find("tr:nth-child(" +  i +  ")");
						var $target_td = $row.find("td:nth-child(1) a");
						queue.push($target_td.attr('data-src'));
						//alert($target_td.attr('data-src'));
				 }
         {% block indexTable2 %}
         {% endblock %}

         e.preventDefault();				
				 $('.btnPlay').removeClass('glyphicon-play');
				 $('.btnPlay').addClass('glyphicon-pause');
				 index = jQuery.inArray($('a', this).attr('data-src'), queue);
	     	 audio.load(queue[index]);
         audio.play();
       });

		document.getElementById('abc').onclick = function() {

		    var className = ' ' + abc.className + ' ';

		    if ( ~className.indexOf(' glyphicon-play ') ) {
		        this.className = className.replace(' glyphicon-play ', ' glyphicon-pause ');
		        audio.playPause();
		    } 

		    else if ( ~className.indexOf(' glyphicon-pause ') ) {
		        this.className = className.replace(' glyphicon-pause ', ' glyphicon-play ');
		        audio.playPause();
		    }           
		}
		
			$(".glyphicon-forward").click(function(e) {
				if(index < queue.length-1)
			  {
				 index++;
				 //alert(index);
				 audio.load(queue[index]);
				 audio.play();
			  } 
			});
			
			$(".glyphicon-backward").click(function(e) {
				if(index > 0) {
		 		 index--;
				 audio.load(queue[index]);
				 audio.play();
				}
			});				



       // Keyboard shortcuts
       $(document).keydown(function(e) {
        	var unicode = e.charCode ? e.charCode : e.keyCode;
            // right arrow
        	 if (unicode == 39){ 
						// This if statement checks whether you are playing
						// out of the queue. 
						if(index < queue.length-1)
						 {
							 index++;
							 //alert(index);
							 audio.load(queue[index]);
							 audio.play();
						 }
     			}
           // back arrow
         		else if (unicode == 37)
							{
								if(index > 0)
								{
									index--;
									audio.load(queue[index]);
									audio.play();
								}          		
           // spacebar
          //} else if (unicode == 32) {
           // audio.playPause();
         //}
       			}
			})

    
		 });
   </script>
   <!-- Custom CSS 
                   Placed here to override Bootstrap-->
    <link href="{% static 'css/home.css' %}"
          rel="stylesheet" media="screen">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">{% block title_block %}Muse{% endblock %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
            <div class="control-buttons container-fluid">
            	<span class="glyphicon glyphicon-backward navbar-link control-btn"></span>
				<span id="abc" class="btnPlay glyphicon glyphicon-play navbar-link play2 control-btn"></span>
				<span class="glyphicon glyphicon-forward navbar-link next2 control-btn "></span>
            </div>
         </ul>

         <ul class="nav navbar-nav">
            <div class="container-fluid">
            	<div class="song-information">
            		<span class="si-artist"></span>-<span class="si-title"></span>
            	</div>
            	<audio preload></audio>
            </div>
         </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'auth_login' %}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right" id="user_form" method="post" action="{% url "search" %}">
          {% csrf_token %}
            <input type="text" class="form-control" placeholder="Search..." name="query" value="{{query}}" id="query">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
      	{% block noside %}
        <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
          {% block side_block %}{% endblock %}
        </div>
        {% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div>
					          {% block body_block %}{% endblock %}
          </div>

		<script>
			(function($, window) {
			   $.fn.contextMenu = function(settings) {
			      return this.each(function() {
			         // Open context menu
			         $(this).on("contextmenu", function(e) {
			            //open menu
			            $(settings.menuSelector)
			               .data("invokedOn", $(e.target))
			               .show()
			               .css({
			                  position: "absolute",
			                  left: getLeftLocation(e),
			                  top: getTopLocation(e)
			               })
			               .off('click')
			               .on('click', function(e) {
			                  $(this).hide();

			                  var $invokedOn = $(this).data("invokedOn");
			                  var $selectedMenu = $(e.target);

			                  settings.menuSelected.call(this, $invokedOn, $selectedMenu);
			               });

			            return false;
			         });

			         //make sure menu closes on any click
			         $(document).click(function() {
			            $(settings.menuSelector).hide();
			         });
			      });

			      function getLeftLocation(e) {

			         var mouseWidth = e.pageX - document.getElementById("sidebar").offsetWidth;
			         var pageWidth = $(window).width();
			         var menuWidth = $(settings.menuSelector).width();

			         // opening menu would pass the side of the page
			         if (mouseWidth + menuWidth > pageWidth &&
			            menuWidth < mouseWidth) {
			            return mouseWidth - menuWidth;
			         }
			         return mouseWidth;
			      }

			      function getTopLocation(e) {
			         var mouseHeight = e.pageY - document.getElementById("navbar").offsetHeight; //- parentOffset.top;
			         var pageHeight = $(window).height();
			         var menuHeight = $(settings.menuSelector).height();

			         // opening menu would pass the bottom of the page
			         if (mouseHeight + menuHeight > pageHeight &&
			            menuHeight < mouseHeight) {
			            return mouseHeight - menuHeight;
			         }
			         return mouseHeight;
			      }
			   };
			})(jQuery, window);

	$("#myTable .song").contextMenu({
	   menuSelector: "#contextMenu",
	   menuSelected: function(invokedOn, selectedMenu) {
	      var msg = "You selected the menu item '" + selectedMenu.text() +
	         "' on the value '" + invokedOn.title() + "'";

	      alert(msg);
	   }
});
						</script>
        </div>
      </div>
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    


    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/docs.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
