{% extends "base.html" %}

{% block body_block %}


    <h3>{{ artist }}</h3>
        {% if albums %}
            <h4>Albums</h4>
                {% for album in albums %}
                    <p><a href="/album/{{ album.item_slug }}">{{ album.item }}</a></p>
                {% endfor %}
        {% endif %}

        

        {% if songs %}
            <h4>All Songs</h4>
            <audio preload></audio>
            <form action="{% url 'artist' artist_name_slug=self %}" method = "post" enctype = "multipart/form-data">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="sortable-theme-bootstrap table-hover" data-sortable >
                    <thead>
                    
                                <th data-sorted="false" data-sorted-direction="descending" class="col-md-4" style="font-weight:bold;"> TITLE </th>
                                <th data-sorted="false" class="col-md-3" style="font-weight:bold;"> ALBUM </th>
                                <th data-sorted="false" class="col-md-3" style="font-weight:bold;"> ARTIST </th>
                                <th data-sorted="false" class="col-md-5" style="font-weight:bold;"> DOWNLOAD </th>
                        
                    </thead>
                    {% load filetransfers %}
                    {% for song in songs %}
                    {% url "music_stream.views.serve" pk=song.pk as fallback_url %} 
                    <tr>
                                <td class = "song" data-value="{{song.title}}"> <a href="#" data-src="{% firstof upload.file|public_download_url fallback_url %}" class="song-name">{{ song.title}}</a></td>
                                <td> <a href="{% url 'album' album_name_slug=song.album_slug %}">{{song.album}}</a></td>
                                <td> <a href="{% url 'artist' artist_name_slug=song.artist_slug %}">{{song.artist}}</a></td>
                                <td><a href="{% firstof upload.file|public_download_url fallback_url %}">DL</a>&nbsp;&nbsp;&nbsp;<input type="checkbox" name ="{{ song }}" value = "{{ song.title }}"></td>
                    </tr>
                    {% endfor %}
                </table>    
            </div>


        </div><br>
        <input class="btn btn-primary" type="submit" name="purge_selection" value="Delete Selection" />
        <input class="btn btn-primary" type="submit" name="purge_all" value="DELETE ALL" />
    </form>
        {% else %}
        <p> Requested Artist has no Songs </p>
        {% endif %}

{% endblock %}