{% extends "base.html" %}

{% block body_block %}
<!-- <div style="clear:both;margin-bottom:100px;"></div> -->
    	<h3 style="color:black;font-size:16px;">Add Songs</h3>
        <!-- Upload form. Note enctype attribute! -->
        {% load filetransfers %}
        <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% render_upload_data upload_data %}
            <table>{{ form }}</table>
           <!-- <input style="width:30%;margin-bottom:20px;"  id="id_songfile" name="songfile" type="file" /> -->
           <input style="width:30%;" class="btn btn-default btn-md" type="submit" name="upload_submit" value="Upload" />
        </form>


</br>
</br>
<!-- <audio preload></audio> -->


{% if songList %}
	<form action="{% url 'index' %}" method = "post" enctype = "multipart/form-data">
            {% csrf_token %}
			<div class="table-responsive">
				<table id="myTable" class="sortable-theme-bootstrap table-hover" data-sortable >
					<thead>
					
								<th data-sorted="false" data-sorted-direction="descending" class="col-md-4" style="font-weight:bold;"> TITLE </th>
								<th data-sorted="false" class="col-xs-1 col-md-1 glyphicon glyphicon-time" style="font-weight:bold;"> </th>
								<th data-sorted="false" class="col-md-3" style="font-weight:bold;"> ALBUM </th>
								<th data-sorted="false" class="col-md-3" style="font-weight:bold;"> ARTIST </th>
								<th data-sorted="false" class="col-md-2" style="font-weight:bold;"> DOWNLOAD </th>
						
					</thead>
					{% load filetransfers %}
					{% for song in songList %}
					{% url "music_stream.views.serve" pk=song.pk as fallback_url %}	
					<tr>
								<td id = "table-value" class = "song" data-value="{{song.title}}"> <a href="#" data-src="{% firstof upload.file|public_download_url fallback_url %}" class="song-name">{{ song.title}}</a></td>
								<td id="table-duration{{forloop.counter}}" > 
										<script type="text/javascript"> 
									   var a = "{{song.length}}";
										 var display = document.getElementById("table-duration" + {{forloop.counter}});
										 var duration = Math.floor(a / 60) + ":" + a % 60;
										 display.innerHTML = duration;
										 //document.getElementById('duration').ineerHTML = duration.val();
										 //alert(duration);


											
										</script>
									 </td>
								<td> <a href="{% url 'album' album_name_slug=song.album_slug %}">{{song.album}}</a></td>
								<td> <a href="{% url 'artist' artist_name_slug=song.artist_slug %}">{{song.artist}}</a></td>
								<td><a href="{% firstof upload.file|public_download_url fallback_url %}">DL</a>&nbsp;&nbsp;&nbsp;<input type="checkbox" name ="{{ song.id }}" value = "{{ song.title }}"></td>
					</tr>
					{% endfor %}
				</table>    
			</div>
			<ul id="contextMenu" class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Play</a></li>
   <!-- <li><a tabindex="-1" href="#"></a></li>
    <li><a tabindex="-1" href="#"></a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
	-->
</ul>

		</div>
		<div class="btn-group" role="group" aria-label="...">
		<input class="btn btn-primary" type="submit" name="purge_selection" value="Delete Selection" />
		<input class="btn btn-primary" type="submit" name="purge_all" value="DELETE ALL" />
		<input class="btn btn-primary" type="submit" name="deshar" value="Unshare Selected" />
	</div>
	<!-- </form>
	<form class="form-inline" id="user_form" method="post" action="{% url 'index' %}">
		{% csrf_token %} -->
		<div class="input-group">
		<input class="form-control" type="text" size="50" name="sharewith" placeholder= "Usernames or Playlist name" value="" id="sharedwith" /> 
		
		<span class="input-group-btn">
		<input class="btn btn-primary" type="submit" name="share" value="Share Selected" />
		<input class="btn btn-primary" type="submit" name="create" value="Create Playlist" />
	</span>
	</div>{{ error }}
		<br>
		
	</form>
	
    {% else %}
    

        <p>:( Your library is empty! Get started by uploading a song above.</p>
        <table id="myTable"></table>
    {% endif %}

    {% if sharedList %}
    <br><br>
    <h4>Shared Music:</h4>
	<form action="{% url 'index' %}" method = "post" enctype = "multipart/form-data">
		<input class="btn btn-primary" type="submit" name="deshar" value="Unshare Selected" />
            {% csrf_token %}
			<div class="table-responsive">
				<table id="Table2" class="sortable-theme-bootstrap table-hover" data-sortable >
					<thead>
					
								<th data-sorted="false" data-sorted-direction="descending" class="col-md-1" style="font-weight:bold;"> TITLE </th>
								<th data-sorted="false" class="col-xs-1 col-md-1 glyphicon glyphicon-time" style="font-weight:bold;"> </th>
								<th data-sorted="false" class="col-md-1" style="font-weight:bold;"> ALBUM </th>
								<th data-sorted="false" class="col-md-1" style="font-weight:bold;"> ARTIST </th>
								<th data-sorted="false" class="col-md-1" style="font-weight:bold;"> SELECT </th>
						
					</thead>
					{% load filetransfers %}
					{% for song in sharedList %}
					{% url "music_stream.views.serve" pk=song.pk as fallback_url %}	
					<tr>
								<td class = "song" data-value="{{song.title}}"> <a href="#" data-src="{% firstof upload.file|public_download_url fallback_url %}" class="song-name">{{ song.title}}</a></td>
								<td id="table-duration{{forloop.counter}}" > 
										<script type="text/javascript"> 
									   var a = "{{song.length}}";
										 var display = document.getElementById("table-duration" + {{forloop.counter}});
										 var duration = Math.floor(a / 60) + ":" + a % 60;
										 display.innerHTML = duration;
										 //document.getElementById('duration').ineerHTML = duration.val();
										 //alert(duration);


											
										</script>
									 </td>
								<td> <a href="{% url 'album' album_name_slug=song.album_slug %}">{{song.album}}</a></td>
								<td> <a href="{% url 'artist' artist_name_slug=song.artist_slug %}">{{song.artist}}</a></td>
								<td>&nbsp;&nbsp;&nbsp;<input type="checkbox" name ="{{ song.id }}" value = "{{ song.title }}"></td>
					</tr>
					{% endfor %}
				</table>    
			</div>


		</div><br>
	</form>
	{% else %}
	<!-- <form action="{% url 'index' %}" method = "post" enctype = "multipart/form-data">
		{% csrf_token %}
		<input class="btn btn-primary" type="submit" name="deshar" value="Unshare Selected" />
	</form> -->
	<table id="Table2"></table>
    {% endif %}
    <!-- <h4>Test</h4> -->
    




 {% endblock %}

{% block side_block %}
	<!-- <p>To be Implemented...</p> -->
	<h4>Shared Music:</h4>
	{% if songList %}
		{% for song in songList %}
			{% if song.shared %}
				{{ song.title }} WITH 
				{% for shared in song.shared %}
					{{ shared }}&nbsp;,
				{% endfor %}
				<br><br>			
			{% endif %}
		{% endfor %}
	{% endif %}
	<br><br>
	<h4>Music Shared with You:</h4>
	{% if sharedList %}
		{% for shar in sharedList %}
			{{ shar.title }} FROM {{ shar.owner }} <br><br>
		{% endfor %}
	{% endif %}
	<h4>Playlists:</h4>
	{% if playlists %}
		<form action="{% url 'index' %}" method = "post" enctype = "multipart/form-data">
			{% csrf_token %}
		{% for playlist in playlists %}
			<a href= "{% url 'playlist' playlist_name_slug=playlist.name_slug %}">{{ playlist.name }}</a>&nbsp;<input type="checkbox" name ="{{ playlist.id }}" value = "{{ playlist.name }}"><br>
		{% endfor %}
		<input class="btn btn-primary" type="submit" name="delete" value="Delete" />
		</form>
	{% endif %}
{% endblock %}
{% block indexTable2Var %}
         var $table2 = $(Table2);
         {% endblock %}
{% block indexTable2 %}
         for(var i = 1; i < document.getElementById("Table2").rows.length; i++)
         {
            var $row = $table2.find("tr:nth-child(" +  i +  ")");
            var $target_td = $row.find("td:nth-child(1) a");
            queue.push($target_td.attr('data-src'));
            //alert($target_td.attr('data-src'));
         }
{% endblock %}
{% block indexTableVar %}
	{% if sharedList %}
		{% if songList %}
			{{ block.super }}
		{% else %}
		var $table = $(Table2); var $mainTable = "Table2";
		{% endif %}	
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}