<!DOCTYPE html>
{% extends "base.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Blobstore Total Access</title>  


      
    </head>
    <body>
        {% block body_block %}
    <!-- List of uploaded documents -->
    <!-- <audio preload></audio> -->
    {% if songList %}

        <form action="{% url 'blob' %}" method = "post" enctype = "multipart/form-data">
            {% csrf_token %}
        <div class="table-responsive">
                <table id="myTable" class="sortable-theme-bootstrap table-hover" data-sortable >
                    <thead>
                    
                                <th data-sorted="false" data-sorted-direction="descending" class="col-md-4" style="font-weight:bold;"> TITLE </th>
                                <th data-sorted="false" class="col-xs-1 col-md-1 glyphicon glyphicon-time" style="font-weight:bold;"> </th>
                                <th data-sorted="false" class="col-md-3" style="font-weight:bold;"> ALBUM </th>
                                <th data-sorted="false" class="col-md-3" style="font-weight:bold;"> ARTIST </th>
                                <th data-sorted="false" class = "col-md-5" style="font-weight:bold;"> SELECT </th>
                        
                    </thead>
                    {% load filetransfers %}
                    {% for song in songList %}
                    {% url "music_stream.views.serve" pk=song.pk as fallback_url %} 
                    <tr>
                                <td class = "song" data-value="{{song.title}}"> <a href="#" data-src="{% firstof upload.file|public_download_url fallback_url %}" class="song-name">{{ song.title}}</a></td>
                                <td id="table-duration{{forloop.counter}}" > 
                                    <script type="text/javascript"> 
                                     var a = "{{song.length}}";
                                     var display = document.getElementById("table-duration" + {{forloop.counter}});
                                     var duration = Math.floor(a / 60) + ":";
                                     if(a % 60 < 10) {
                                        var sec = "0" + (a % 60);
                                        duration += sec;
                                     }
                                     else {
                                        var sec = a % 60;
                                        duration += sec;
                                     }                                                                              
                                     display.innerHTML = duration;                                                                      
                                    </script>
                                </td>
                                <td> {{song.album}}</td>
                                <td> {{song.artist}}</td>
                                <td><a href="{% firstof upload.file|public_download_url fallback_url %}">DL</a>&nbsp;&nbsp;&nbsp;<input type="checkbox" name ="{{ song.id }}" value = "{{ song.title }}"></td>
                    </tr>
                    {% endfor %}
                </table>    
            </div>
            <input style="width:30%;" class="btn btn-default btn-md" type="submit" name="purge_selection" value="Purge Selected" />
            <input style="width:30%;" class="btn btn-default btn-md" type="submit" name="purge_all" value="PURGE ALL" />
        </form>
        {{error}}
    {% else %}
        <p>No documents.</p>
    {% endif %}
    <table id="Table2"></table>
{% endblock %}
{% block title_block %}Blobstore Total Access{% endblock %}
{% block noside %}{% endblock %}
    
    </body>
</html> 

